@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Start -->
<div class="container-fluid py-5  hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active rounded">
                        <img src="~/img/hero_1.jpg"
                             class="img-fluid w-100 h-100 bg-secondary rounded"
                             alt="First slide" />
                    </div>
                    <div class="carousel-item rounded">
                        <img src="~/img/hero_2.jpg"
                             class="img-fluid w-100 h-100 rounded"
                             alt="Second slide" />
                    </div>
                    <div class="carousel-item rounded">
                        <img src="~/img/hero_3.jpg"
                             class="img-fluid w-100 h-100 rounded"
                             alt="Third slide" />
                    </div>  <div class="carousel-item rounded">
                        <img src="~/img/hero_4.jpg"
                             class="img-fluid w-100 h-100 rounded"
                             alt="fourth slide" />
                    </div>  <div class="carousel-item rounded">
                        <img src="~/img/hero_5.jpg"
                             class="img-fluid w-100 h-100 rounded"
                             alt="fifth slide" />
                    </div>

                    <button class="carousel-control-prev  "
                            type="button"
                            data-bs-target="#carouselId"
                            data-bs-slide="prev"
                            style="color:black!important;background-color:lightgray">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselId"
                            data-bs-slide="next"
                            style="color:black!important;background-color:lightgray">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>







